# Application environment mode: "development", "production", or "test"
NODE_ENV=development

# Server Configuration
PORT=3000

# PostgreSQL Database (Prisma)
# DATABASE_URL=postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE_NAME
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@postgres:5432/POSTGRES_DB

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=graduation_db

# MongoDB Database (Mongoose)
# MONGODB_URL=mongodb://localhost:27017/DATABASE_NAME
MONGODB_URL=mongodb://mongo:27017/DATABASE_NAME

MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=example
MONGO_DB_NAME=graduation_db


JWT_ACCESS_KEY=
JWT_ACCESS_EXPIRED_IN=
JWT_REFRESH_KEY=
JWT_REFRESH_EXPIRED_IN=
FRONTEND_URL=

# ELASTICSEARCH_URL=https://localhost:9200
ELASTICSEARCH_URL=http://elasticsearch:9200

ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=changeme